# =============== *
# Unity generated #
# =============== #
Temp/
Library/

# ===================== #
# MonoDevelop generated #
# ===================== #
/*.csproj
/*.sln

# =============== #
# Other generated #
# =============== #
*.swp
